.gmo_research_container {
  padding: 4em 3em;
}

.intro {
  text-align: center;
  border-bottom: 1px solid #424242;
}

.intro h1 {
  font-weight: 500;
  font-size: 35px;
  margin: 0.3em 0;
}

.intro p {
  font-size: 24px;
}
.search_field {
  width: 25rem;
  height: 2.3rem;
  padding: 0 10px;
  border-radius: 20px;
  outline: none;
  border: 1px solid black;
}
/* month_filter */
.month_filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  place-items: center;
  margin: 2em auto;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 49px;
  font-size: 18px;
  color: #424242;
  font-weight: 400;
}

.month_filter select {
  border: none;
  font-size: 20px;
  color: #424242;
  font-weight: 400;
  outline: none;
}
.project_recevied_txt,
.live_projects {
  text-transform: capitalize;
}
.cnt {
  font-weight: bold;
}

/* survey with filter */
.survey_with_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.survey_with_filter h1 {
  font-weight: 600;
  font-size: 36px;
}

.search_filter {
  border: 1px solid #121212;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 1em;
  background-color: white;
  width: 500px;
  font-weight: 500;
  cursor: pointer;
}

/* filter_research_container */
.filter_research_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.survey_filters_cards {
  background: #ffffff;
  border: 1px solid #1a1a1a;
  border-radius: 14px;
  width: 70%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 18.5px;
  padding: 3rem 1.5em;
}
.filter_body {
  /* border: 1px solid red; */
  width: 32%;
  height: fit-content;
}
.filter_body select {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 1em;
  background-color: #ffffff;
}

.research_card {
  background: #ffffff;
  border: 1px solid #1a1a1a;
  border-radius: 14px;
  width: 25%;
  text-align: center;
  padding-top: 1em;
  /* padding: 2em; */
}

.research_card h1 {
  font-size: 29px;
}

.research_card p {
  font-size: 40px;
  color: rgb(33, 33, 33);
}

/* tabs */
.tabs {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 3rem 0;
}
.tabs span {
  cursor: pointer;
  color: gray;
  font-weight: bold;
}
.tabs .active_status {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
}

/* client surveys table  */
.client_surveys_table_container {
  overflow: auto;
}
.client_surveys_table {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 5rem;
  border-collapse: collapse;
}
.client_surveys_table thead {
  border-radius: 22px;
  background-color: #f0f0f0;
}
.client_surveys_table thead tr {
  padding: 10px 0px;
  height: 40px;
}
.client_surveys_table thead tr th {
  text-align: center;
  padding: 30px 1.5rem;
  font-size: 15px;
}
.headingDescription {
  font-size: 12px;
  color: #6a6a6a;
  margin-top: 0.4vmax;
  font-weight: 400;
}
.dataRow {
  border: 1px solid rgb(223, 222, 222);
}
.dataRow:hover {
  -webkit-box-shadow: 0px 10px 65px -17px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 10px 65px -17px rgba(194, 194, 194, 1);
  box-shadow: 0px 10px 65px -17px rgba(194, 194, 194, 1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.project_table_first_col {
  /* width: 320px !important; */
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  /* border: 1px solid red; */
}
.project_table_first_col input {
  width: 15px;
  height: 15px;
  /* margin-left: 1rem; */
  margin: auto 0.3rem;
}
.project_table_first_col .coldiv {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.project_name_and_status {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.project_name {
  color: rgb(110, 110, 110);
  font-weight: 100;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
  width: 8.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
}
.project_name:hover {
  color: rgb(18, 149, 209);
  text-decoration: underline;
}
/* country flag  */
.country_flag {
  font-size: 25px;
  margin-left: 20px;
}
.tableValue {
  font-size: 16px;
}
.tableSubvalue {
  font-size: 14px;
  color: gray;
}
.project_manager_container {
  border: 1px solid rgb(220, 219, 219);
  border-radius: 20px;
  padding: 2px 5px;
}
.study_type {
  display: block;
  white-space: nowrap;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.survey_type {
  display: block;
  white-space: nowrap;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.client_surveys_table tr:first-child th:first-child {
  border-top-left-radius: 40px;
}
.client_surveys_table tr:first-child th:last-child {
  border-top-right-radius: 40px;
}
